<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910969552977-h91nbmdg4h52dcnor3l26ocv1hvv2f40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910969552977-h91nbmdg4h52dcnor3l26ocv1hvv2f40</string>
	<key>API_KEY</key>
	<string>AIzaSyAwo_5EikddCEsRS4dXBq9XyV0Fcd0QWcU</string>
	<key>GCM_SENDER_ID</key>
	<string>910969552977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yanniyiannakidi.uberSwiftUITutorial</string>
	<key>PROJECT_ID</key>
	<string>uberswiftuitutorial-e735b</string>
	<key>STORAGE_BUCKET</key>
	<string>uberswiftuitutorial-e735b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910969552977:ios:67d0da90be784be126f870</string>
</dict>
</plist>